server:
  port: 8081
spring:
  application:
    name: item-service
  datasource:
    url: jdbc:mysql://121.4.89.43:3306/erp
    username: han
    password: "55555"

eureka:
  client:
    service-url:
      defaultZone: http://121.4.89.43:10086/eureka
  instance:
    lease-renewal-interval-in-seconds: 5 # 每隔5秒发送一次心跳
    lease-expiration-duration-in-seconds: 10 # 10秒不发送就过期
mybatis:
  type-aliases-package: com.erp.item.pojo

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true