server:
  port: 8085
  max-http-header-size: 20480
spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://121.4.89.43:3306/erp
    username: han
    password: "55555"

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
  instance:
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 15
mybatis:
  type-aliases-package: com.erp.user.pojo