server:
  port: 10010
spring:
  application:
    name: api-gateway
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
zuul:
  prefix: /api # 添加路由前缀
  retryable: true
  routes:
    item-service: /item/**  #路由到商品微服务
    search-service: /search/**  #路由到搜索微服务
    user-service: /user/**  #用户微服务
    auth-service: /auth/**  #认证微服务
    cart-service: /cart/**  #购物车微服务
    order-service: /order/**  #订单微服务
    ignored-services: upload-service # 忽略upload-service服务
  add-host-header: true
  sensitive-headers:
erp:
  jwt:
    pubKeyPath: C:\Users\\黄淮\\Desktop\\Leyou\\leyou-auth\\rsa\\rsa.pub # 公钥地址
    cookieName: LY_TOKEN # cookie的名称
  filter:
    allowPaths:
    - /api/auth
    - /api/search
    - /api/user/register
    - /api/user/check
    - /api/user/code
    - /api/item
    - /api/user/list